@page "/calculator"
@implements IDisposable

<h1>Calculator Using Blazor</h1>
<hr />
<input Models="@calc" OnValidSubmit="HandleValidSubmit">
<DataAnnotationsValidator />
<ValidationSummary />
<div>
    <div class="row">
        <div class="col-md-3">
            <p>Input 1</p>
        </div>
        <div class="col-md-4">
            <input placeholder="" @bind="@number1" />
        </div>
    </div>
    <ValidationMessage For="@(() => calc.number1)" />
    <br />
    <div class="row">
        <div class="col-md-3">
            <p>Input 2</p>
        </div>
        <div class="col-md-4">
            <input placeholder="" @bind="number2" />
        </div>
    </div>
    <ValidationMessage For="@(() => calc.number2)" />
    <br />
    <div class="row">
        <div class="col-md-3">
            <p>Result</p>
        </div>
        <div class="col-md-4">
            <input readonly @bind="@result" />
        </div>
    </div>
    <ValidationMessage For="@(() => calc.result)" />

    <br />

    <div class="row">
        <div class="col-md-2">
            <button @onclick="Addition" class="btn btn-primary"> + </button>
        </div>
        <div class="col-md-2">
            <button @onclick="Subtraction" class="btn btn-primary"> − </button>

        </div>
        <div class="col-md-2">
            <button @onclick="Multiplication" class="btn btn-success "> * </button>
        </div>
        <div class="col-md-2">
            <button @onclick="Division" class="btn btn-primary"> / </button>
        </div>
        <div class="col-md-2">
            <button @onclick="percentage" class="btn btn-success"> % </button>
        </div>
    </div>
</div>

@code {string number1;
    string number2;
    string result;
    void Addition()
    {
        result = (Convert.ToDouble(number1) + Convert.ToDouble(number2)).ToString();
    }
    void Subtraction()
    {
        result = (Convert.ToDouble(number1) - Convert.ToDouble(number2)).ToString();
    }
    void Multiplication()
    {
        result = (Convert.ToDouble(number1) * Convert.ToDouble(number2)).ToString();
    }
    void Division()
    {
        result = (Convert.ToDouble(number1) * Convert.ToDouble(number2)).ToString();
    }
    void DivideNumbers()
    {
        if (Convert.ToDouble(number2) != 0)
        {
            result = (Convert.ToDouble(number1) / Convert.ToDouble(number2)).ToString();
        }
        else
        {
            result = "error";
        }
    }

    void percentage()
    {
        result = (Convert.ToDouble(number1) % Convert.ToDouble(number2)).ToString();
    } }
@code { Calculator calc = new Calculator();
    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    } }